
/buildsolutions
/build
/deploy
/package
bin/
obj/
#ignore thumbnails created by windows
Thumbs.db
#Ignore files build by Visual Studio
*.obj
bin/*/*.exe
*.pdb
*.pidb
*.user
*.aps
*.pch
*.docstates
*.vspscc
*_i.c
*_p.c
*.ncb
*.suo
*.tlb
*.dbmdl
*.schemaview
*.tlh
*.bak
*.cache
*.ilk
*.log
[Bb]in
[Dd]ebug*/
*.lib
*.sbr
obj/
[Rr]elease*/
_ReSharper*/
[Tt]est[Rr]esult*
*.docstates
seq diagram1.png
StyleCop.Cache
[sS]ettings.[sS]tyle[cC]op
/tools/[cC]ode[aA]nalysis/
/tools/[sS]tyle[cC]op/
seq diagram1.vsd
v3rebuild.bat
v3startFitness.bat
v3unitTests.bat
*.swp
*.*~
*.gpState
*.ReSharper.*
*.preflight
#*.dotCover - The Configuration of unit test exclusions should be shared
*.orig
src/common/Wonga.Common.1.1.dotCover
src/components/CallReport/Wonga.CallReport.1.1.dotCover
src/components/Equifax/Wonga.Equifax.1.1.dotCover
src/components/Experian/Wonga.Experian.1.1.dotCover
src/components/Graydon/Wonga.Graydon.1.1.dotCover
*.dotCover
NDependOut/
*.ndproj
src/SyncToy_*.dat
SyncToy_*.dat
origin/za-Release
src/risk/Reports/
src/payments/Wonga.Payments.jtconfig
