<?xml version="1.0"?>
<configuration>
	<configSections>
		<section name="autofac" type="Autofac.Configuration.SectionHandler, Autofac.Configuration"/>
		<section name="MsmqTransportConfig" type="NServiceBus.Config.MsmqTransportConfig, NServiceBus.Core"/>
	<section name="MessageForwardingInCaseOfFaultConfig" type="NServiceBus.Config.MessageForwardingInCaseOfFaultConfig, NServiceBus.Core"/>
		<section name="UnicastBusConfig" type="NServiceBus.Config.UnicastBusConfig, NServiceBus.Core"/>
		<section name="NHibernateSagaPersisterConfig" type="NServiceBus.Config.NHibernateSagaPersisterConfig, NServiceBus.Core"/>
		<sectionGroup name="common">
			<sectionGroup name="common">
				<section name="logging" type="Common.Logging.ConfigurationSectionHandler, Common.Logging"/>
			</sectionGroup>
	</sectionGroup>
	</configSections>
	<common>
		<common>
			<logging>
				<factoryAdapter type="Common.Logging.Log4Net.Log4NetLoggerFactoryAdapter, Common.Logging.Log4Net">
					<arg key="configType" value="FILE-WATCH"/>
					<arg key="configFile" value="~/log4net.config"/>
				</factoryAdapter>
			</logging>
		</common>
	</common>
	<connectionStrings>
		<clear/>
		<add name="current" connectionString="Data Source=localhost;Database=Ops;Integrated Security=true;"/>
		<add name="Logs" connectionString="Data Source=localhost;Database=OpsLogs;Integrated Security=true;"/>
	</connectionStrings>
	
		<appSettings>
		<add key="EndpointName" value="salesforce"/>
	</appSettings>
	
	
	
	<autofac></autofac>
	<UnicastBusConfig>
		<MessageEndpointMappings>
		</MessageEndpointMappings>
	</UnicastBusConfig>

	<MsmqTransportConfig NumberOfWorkerThreads="1" MaxRetries="5" InputQueue="salesforcecomponent" ErrorQueue="salesforcecomponent_error"/>

	<NHibernateSagaPersisterConfig UpdateSchema="true">
		<NHibernateProperties>
			<add Key="connection.provider" Value="NHibernate.Connection.DriverConnectionProvider"/>
			<add Key="connection.driver_class" Value="NHibernate.Driver.SqlClientDriver"/>
			<add Key="dialect" Value="NHibernate.Dialect.MsSql2008Dialect"/>
		</NHibernateProperties>
	</NHibernateSagaPersisterConfig>
	<MessageForwardingInCaseOfFaultConfig ErrorQueue="error"/>
	<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="NServiceBus" publicKeyToken="9FC386479F8A226C" culture="neutral"/>
				<bindingRedirect oldVersion="0.0.0.0-2.5.0.1442" newVersion="2.5.0.1442"/>
			</dependentAssembly>
		</assemblyBinding>
	</runtime>
</configuration>
