<?xml version="1.0" encoding="utf-8" ?>
<log4net debug="false" xsi:noNamespaceSchemaLocation="http://csharptest.net/downloads/schema/log4net.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
	<appender name="AllToFile" type="log4net.Appender.RollingFileAppender">
		<file value=".\\Logs\\Log.txt" />
		<appendToFile value="true" />
		<!-- Note MinimalLock should not be used in production -->
		<lockingModel type="log4net.Appender.FileAppender+MinimalLock" />
		<rollingStyle value="Date" />
		<datePattern value="yyyyMMdd" />
		<layout type="log4net.Layout.PatternLayout">
			<conversionPattern value="%date [%thread] %-5level %logger - %message%newline" />
		</layout>
	</appender>

	<appender name="AllToConsole" type="log4net.Appender.ConsoleAppender">
		<layout type="log4net.Layout.PatternLayout">
			<conversionPattern value="%date [%thread] %-5level %logger - %message%newline" />
		</layout>
	</appender>

	<appender name="DbAppender" type="Wonga.Ops.Configuration.Logging.MsSqlAppender, Wonga.Ops.Configuration.Logging">
		<filter type="log4net.Filter.LevelRangeFilter">
			<levelMin value="ALL" />
		</filter>
		<bufferSize value="1" />
		<connectionStringName value="Logs" />
		<commandText value="INSERT INTO ops.Logs ([Date],[Endpoint],[Thread],[Level],[Logger],[Message],[Exception], [AccountId], [ApplicationId]) VALUES (@log_date, @endpoint_name, @thread, @log_level, @logger, @message, @exception, @accId, @appId)" />
		<parameter>
			<parameterName value="@log_date" />
			<dbType value="DateTime" />
			<layout type="log4net.Layout.RawUtcTimeStampLayout" />
		</parameter>
		<parameter>
			<parameterName value="@endpoint_name" />
			<dbType value="String" />
			<size value="50" />
			<layout type="log4net.Layout.PatternLayout">
				<conversionPattern value="%property{endpointName}" />
			</layout>
		</parameter>
		<parameter>
			<parameterName value="@thread" />
			<dbType value="String" />
			<size value="255" />
			<layout type="log4net.Layout.PatternLayout">
				<conversionPattern value="%thread" />
			</layout>
		</parameter>
		<parameter>
			<parameterName value="@log_level" />
			<dbType value="String" />
			<size value="50" />
			<layout type="log4net.Layout.PatternLayout">
				<conversionPattern value="%level" />
			</layout>
		</parameter>
		<parameter>
			<parameterName value="@logger" />
			<dbType value="String" />
			<size value="255" />
			<layout type="log4net.Layout.PatternLayout">
				<conversionPattern value="%c.%M()" />
			</layout>
		</parameter>
		<parameter>
			<parameterName value="@message" />
			<dbType value="String" />
			<size value="4000" />
			<layout type="log4net.Layout.PatternLayout">
				<conversionPattern value="%message" />
			</layout>
		</parameter>
		<parameter>
			<parameterName value="@exception" />
			<dbType value="String" />
			<size value="8000" />
			<layout type="log4net.Layout.ExceptionLayout" />
		</parameter>
		<parameter>
			<parameterName value="@accId" />
			<dbType value="Guid" />
			<layout type="log4net.Layout.RawPropertyLayout">
				<key value="accId" />
			</layout>
		</parameter>
		<parameter>
			<parameterName value="@appId" />
			<dbType value="Guid" />
			<layout type="log4net.Layout.RawPropertyLayout">
				<key value="appId" />
			</layout>
		</parameter>
	</appender>

	<appender name="NotificationAppender" type="Wonga.Ops.Configuration.Logging.NotificationAppender, Wonga.Ops.Configuration.Logging">
	</appender>

	<root>
		<level value="ALL" />
		<appender-ref ref="AllToFile" />
		<appender-ref ref="AllToConsole" />
		<appender-ref ref="DbAppender" />
		<appender-ref ref="NotificationAppender" />
	</root>

	<logger name="NServiceBus.Serializers.XML">
		<level value="WARN" />
	</logger>
	<logger name="NServiceBus.Unicast">
		<level value="WARN" />
	</logger>
	<logger name="NHibernate">
		<level value="WARN" />
	</logger>
</log4net>